/* Universal Start */
.right {

  opacity: 0;
}

.left {

  opacity: 0;
}

.animation-right {

  animation: righty 2s forwards;
  position: relative;
}

@keyframes righty {

  0% {
    opacity: 0;
    right: -200px;
  }

  100% {
    opacity: 1;
    right: 0px;
  }
}

.animation-left {
  animation: lefty 2s forwards;
  position: relative;
}

@keyframes lefty {
  0% {
    opacity: 0;
    left: -200px;
  }

  100% {
    opacity: 1;
    left: 10px;
  }
}
/* Universal End */

.inset-video {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.profile-pocket {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.profile-pocket {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.inset-video {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.video-play-button {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.video-play-button {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.grid-text-layer {
  background: linear-gradient(to right, #ffd600 50%, #329d4d 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.quick-link-grid:hover > .grid-text-layer {

  background-position: left bottom;
  color: #000000;
}

@-webkit-keyframes mover {

    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {

    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
